$content-color: white;

.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
  animation-fill-mode: backwards;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.buy-button {
  background-color: $content-color;
  color: black;
  border: 2px solid #4CAF50;

  &:hover, &:after, &:focus {
    background-color: #4CAF50;
    color: $content-color;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0), 0 17px 80px 0 rgba(0, 0, 0, 0.50);
  }
}

.delete-button {
  background-color: $content-color;
  color: black;
  border: 2px solid #f44336;

  &:hover {
    background-color: #f44336;
    color: $content-color;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

table {
  font-family: arial, sans-serif;
  font-size: 10px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #f2f4f5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #797474;
}

.products-table {
  width: 100%;
  font-size: 18px;
}

.total-price {
  color: cornsilk
}
